*{
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

body{
    margin: 0;
    background-color: var(--orange);
    height: 1800px;
}

[class*="col-"]{
    width: 100%;
}

:root{
    --whiteColor: white;
    --black: black;
    --lightGreen: yellowgreen;
    --orange:orange;
    --bioFont: rgb(202, 231, 248);
}

/*---------------
Start navbar
---------------*/

.navbar{
    background-color: rgb(11, 100, 100);
    padding: 1% 7%;
    text-align: center;
}


.nav-logo{
    margin: 10px 0;
    
    
}


.nav-logo img{
    border: 5px solid var(--lightGreen);
    border-radius: 20%;
    width: 150px;
    height: 150px;
    transition: 3s;
    
}


.nav-logo img:hover{
    transform: rotate(360deg);
    
}



.nav-heading{
    margin-top: 10px;
    
}

.nav-heading h1{
    font-size: 2.1rem;
    text-align: center;
    color: var(--orange);
    margin: 0;
    cursor: pointer;

    
}

.nav-heading h1:hover{
    color: white;
}

.navbar-menu{
    
    /*width: 90%;*/
    display: flex;
    /*flex-flow: row wrap;*/
    flex-direction: column;
    text-transform: uppercase;
    margin: 0 auto;
    
    
    
}

.navbar-menu a{
    /*width: 47%;*/
    width: 100%;
    border: 2px solid;
    box-shadow: 1px 1px 5px var(--lightGreen);
    color: var(--whiteColor);
    font-size: 1.2rem;
    text-decoration: none;

    background-color: #39d2e0;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px 0;
    transition: 0.3s;
    
    
}

.navbar-menu a:hover{
    background-color: var(--orange);
}




.navbar::after{
    content: '';
    display: table;
    clear: both;
}

/*---------------
End navbar
---------------*/





/*---------------
Start profile
---------------*/

.profile{
    background-position: left top;
    background-size: 100%;
    height: 200px;
    object-fit: cover;
    background-image:linear-gradient(rgba(0, 0, 0, 0.400), rgba(0, 0, 0, 0.400)), url(../Photo/Shantonu.jpg);
    background-repeat: no-repeat;
    position: relative;
    
    
}
.profile-desc{
    padding-top: 60px;
    padding-left: 20px;
    width: 80%;
    
    
}

.profile-desc span{
    color: var(--bioFont);
    font-size: 16px;

}




/*---------------
End profile
---------------*/
